/**
 * Sticky footer styles
 */
body {
    padding-top: 5rem;
}

.footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.footer p:last-child {
    margin-bottom: 0;
}

/**
 * 图片样式自定义
 */
img {
    /* 防止超大图片显示面积过大 */
    max-width: 100%;

    /* 图片居中 */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**
 * 解决锚链接缩进问题
 */
 [id|=tocAnchor]::before {
    display: block;
    height: 5rem;
    margin-top: -5rem;
    content: "";
}
