<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>

  <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>


<body>
  <nav>
    <ul>
      <!-- <li><a href="/">Home</a></li> -->
      <li><a href="/">主页 | Home</a></li>
      <li><a href="/about">关于 | About</a></li>
      <li><a href="/cv">简历 | CV</a></li>
      <li><a href="/blog">博客 | Blog</a></li>
    </ul>
  </nav>
  <div class="container">

    {{ content }}

  </div>

  <footer>
    <ul>
      <!-- <li><a href="mailto:hankquinlanhub@gmail.com">email</a></li> -->
      <li>电子邮件<a href="mailto:aaronszxia@qq.com">email</a></li>
      <!-- <li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li> -->
      <li>GitHub<a href="https://github.com/aaronszxia">github.com/aaronszxia</a></li>
      <li>微博<a href="https://weibo.com/u/2185032634/">@华之腾啊</a></li>
    </ul>
  </footer>
</body>

</html>